<div class="machine">
	{{#each slot in slots}}

	{{machine-slot slot=slot stopOnIndex=slot.stopOnIndex}}

	{{/each}}
</div>

<button {{action "start" }} {{bind-attr class="canSpin::hidden" }}>Spin</button>
<button {{action "stop" }} {{bind-attr class="isSpinning::hidden" }}>Stop</button>
