<div class="machine">
	{{#each slot in slots}}

	{{machine-slot tiles=slot.tiles spinning=spinning stopOnIndex=slot.stopOnIndex}}

	{{/each}}
</div>

<button {{action "start" }} {{bind-attr class="spinning:hidden" }}>Spin</button>
<button {{action "stop" }} {{bind-attr class="spinning::hidden" }}>Stop</button>
